toolchain-building/Output/
toolchain-building/binutils-2.20.tar.bz2
toolchain-building/build/
toolchain-building/logfile
toolchain-building/freeems-toolchain_*_all.deb

*-all
*-co
*-dirs
*-done
*-install-info
*-src
*-stamp-*
*-tagged
blockit
src/cfg-paper.info
src/config.status
src/configure.aux
src/configure.cp
src/configure.cps
src/configure.dvi
src/configure.fn
src/configure.fns
src/configure.ky
src/configure.kys
src/configure.log
src/configure.pg
src/configure.pgs
src/configure.toc
src/configure.tp
src/configure.tps
src/configure.vr
src/configure.vrs
src/dir.info
src/Makefile
lost+found
src/update.out
src/update.sourceware
src/autom4te.cache
src/CVS
