Source: gcc-mc9s12x
Section: devel
Priority: extra
Maintainer: Sean Keys <support@computer-ss.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 6.0), binutils-mc9s12x (>= 1:2.20), autoconf2.13, libtool, gawk | awk, bison, flex, gettext, texinfo, zlib1g-dev, bzip2
XS-DM-Upload-Allowed: yes

Package: gcc-mc9s12x
Architecture: any
Section: devel
Priority: extra
Depends:  binutils-mc9s12x (>= 1:2.20), ${shlibs:Depends}
Conflicts: gcc-m68hc1x
Replaces: gcc-m68hc1x
Suggests: task-c-devel, newlib-mc9s12x
Provides: c-compiler-m68hc11, c-compiler-m68hc12
Description: GNU C compiler for the Motorola 68HC11/12 processors
 This is the GNU C compiler, a fairly portable optimizing compiler which
 supports multiple languages. This package includes support for C for
 cross-compiling to a Motorola 68HC11/12 microcontroller-based target.
